html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body .header {
    width: 100%;
    height: 100px;
    line-height: 100px;
    background-color: #242424;
    float: left;
}

.header h1 {
    margin: 0;
    width: fit-content;
    float: right;
    color: white;
    font-family: "Roboto", sans-serif;
}

.header-wrapper {
    width: calc(100% - 30%);
    height: 100%;
    margin: auto;
}

.menu-icon {
    width: 80px;
    height: 80px;
    float: left;
    margin-top: 10px;
    background-image: url('../images/menu.png');
    background-size: cover;
}

.menu-icon:hover {
    cursor: pointer;
    background-image: url('../images/menu-blue.png');
}

.menu {
    display: block;
    position: absolute;
    margin-top: 100px;
    margin-left: 20px;
    width: 300px;
    line-height: 30px;
    background-color: #3B6BF9;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
    z-index: 1;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    padding: 10px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 700;
    transition: all 0.2s ease;
}

.menu ul li a {
    text-decoration: none;
    color: white;
    display: inline-block;
}

.menu ul li:hover {
    background-color: #2e5bd6;
    cursor: pointer;
}

.menu ul li:hover a {
    color: #ffffff;
}


body main {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 100px;
}

.main-section {
    width: 100%;
    display: flex;
    float: left;
}

.main-section > .left-sidebar {
    width: 20%;
}

.main-section > article {
    flex: 1;
}

.main-section > .right-sidebar {
    width: 30%;
}

p {
    margin: 0;
    padding: 0;
}

.gallery-title {
    margin: 0;
    text-align: center;
    padding: 30px 0px 0px 0px;
}

.gallery {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 20px;
}

.gallery .column {
    height: 100%;
}

.gallery-wrapper {
    width: calc(100% - 600px);
    margin: auto;
}

.category-link {
    text-decoration: none;
}

.category-link p {
    /* font-size: 20px; */
    font-family: Arial, Helvetica, sans-serif;
    /* padding: 10px 0px 0px 10px; */
    color: orange;
}

.preview-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 36px;
    /* line-height: 36px; */
    /* padding: 0px 0px 0px 10px; */
    margin: 0;
}

.byline-link {
    text-decoration: none;
    color: #ed9900;
}
